/* CSS Document */
/* Global settings */
/* line 6, styles.scss */
*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 10, styles.scss */
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5; }

/* line 20, styles.scss */
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

/* line 26, styles.scss */
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333; }

/* line 33, styles.scss */
a {
  color: orange;
  text-decoration: none; }
  /* line 36, styles.scss */
  a img {
    border: none 0px #fff; }

/* line 41, styles.scss */
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none; }

/* line 47, styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

/* line 57, styles.scss */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 72, styles.scss */
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%; }

/* line 77, styles.scss */
#footer {
  background-color: #2E2E2E;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
/* line 89, styles.scss */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center; }
  /* line 94, styles.scss */
  nav h1 {
    margin: auto;
    font-size: 2.5rem; }
    /* line 97, styles.scss */
    nav h1 a {
      color: #fff;
      font-weight: 200;
      letter-spacing: 6px;
      text-transform: uppercase; }

/* line 107, styles.scss */
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
  /* Display list items side by side */ }
  /* line 115, styles.scss */
  #breadcrumb li {
    display: inline;
    /* Add a slash symbol (/) before/behind each list item */
    /* Add a color to all links inside the list */ }
    /* line 118, styles.scss */
    #breadcrumb li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0"; }
    /* line 124, styles.scss */
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
      /* Add a color on mouse-over */ }
      /* line 128, styles.scss */
      #breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }

/* line 136, styles.scss */
#aria-content-link {
  position: absolute;
  left: -999999px; }

/* ====================== Map ====================== */
/* line 144, styles.scss */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant Filtering ====================== */
/* line 152, styles.scss */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #15527A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 157, styles.scss */
  .filter-options h2 {
    color: white;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
    padding: 20px 0; }
  /* line 166, styles.scss */
  .filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px; }

/* ====================== Restaurant Listing ====================== */
/* line 181, styles.scss */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  /* line 193, styles.scss */
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 30px 25px;
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    /* line 204, styles.scss */
    #restaurants-list li h1 {
      color: #175179;
      font-family: Arial, sans-serif;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase; }
    /* line 214, styles.scss */
    #restaurants-list li a {
      background-color: #175179;
      border-bottom: 3px solid #eee;
      color: #fff;
      display: inline-block;
      font-size: 10pt;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
  /* line 228, styles.scss */
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%; }
  /* line 235, styles.scss */
  #restaurants-list p {
    margin: 0;
    font-size: 11pt; }

/* ====================== Restaurant Details ====================== */
/* line 246, styles.scss */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
/* line 252, styles.scss */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%; }
/* line 260, styles.scss */
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }
/* line 265, styles.scss */
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%; }

/* line 273, styles.scss */
#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1; }

/* line 284, styles.scss */
#restaurant-img {
  width: 100%; }

/* line 288, styles.scss */
#restaurant-address {
  font-size: 1.25rem;
  margin: 10px 0px; }

/* line 293, styles.scss */
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/* line 306, styles.scss */
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 140px 40px 30px;
  width: 50%; }

/* line 315, styles.scss */
#reviews-container {
  padding: 30px 40px 80px; }
  /* line 317, styles.scss */
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt; }

/* line 326, styles.scss */
#reviews-list {
  margin: 0;
  padding: 0; }
  /* line 329, styles.scss */
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative; }
    /* line 338, styles.scss */
    #reviews-list li p {
      margin: 0 0 10px; }
    /* line 341, styles.scss */
    #reviews-list li .reviewer-name {
      font-weight: 700;
      display: inline-block; }
    /* line 345, styles.scss */
    #reviews-list li .review-date {
      display: inline-block; }
      /* line 347, styles.scss */
      #reviews-list li .review-date:before {
        content: ",\00a0";
        display: inline-block; }

/* line 355, styles.scss */
#restaurant-hours td {
  color: #666; }

@media screen and (max-width: 1000px) {
  /* line 360, styles.scss */
  .inside #map-container {
    display: block;
    height: 300px;
    margin-top: 130px;
    position: inherit;
    width: 100%; }

  /* line 367, styles.scss */
  #breadcrumb {
    width: 100%; }

  /* line 370, styles.scss */
  #restaurant-container, #reviews-container {
    padding: 20px 30px;
    width: 100%; } }
@media screen and (max-width: 650px) {
  /* line 377, styles.scss */
  .filter-options h2 {
    display: block; }
  /* line 380, styles.scss */
  .filter-options label {
    display: block; }
    /* line 382, styles.scss */
    .filter-options label select {
      margin: 10px 0;
      padding: 0 15px;
      width: 100%; }

  /* line 389, styles.scss */
  #restaurants-list li {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }
@media screen and (min-width: 651px) and (max-width: 886px) {
  /* line 396, styles.scss */
  #restaurants-list li {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px); } }

/*# sourceMappingURL=styles.css.map */
